# Rede neural para classificar se uma pessoa possui doença cardíaca 
Foi utilizado este dataset https://archive.ics.uci.edu/ml/datasets/Heart+Disease

In [1]:
# Importing libs
import pandas as pd
import numpy as np
import keras
from keras.metrics import *
from keras.optimizers import Adam
from keras.models import Sequential
from keras.layers import *
import matplotlib.pyplot as plt

In [2]:
# Reading data from csv
data = pd.read_csv('heart.csv')
data

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

## Dividindo os dados entre treino e teste

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data.iloc[:,0:13], data.iloc[:,13], test_size = 0.2, shuffle = True, stratify = data['target'])

In [9]:
x_train

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
262   53    1   0       123   282  ...      1      2.0      1   2     3
125   34    0   1       118   210  ...      0      0.7      2   0     2
126   47    1   0       112   204  ...      0      0.1      2   0     2
120   64    0   0       130   303  ...      0      2.0      1   2     2
116   41    1   2       130   214  ...      0      2.0      1   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
271   61    1   3       134   234  ...      0      2.6      1   2     2
29    53    1   2       130   197  ...      0      1.2      0   0     2
150   66    1   0       160   228  ...      0      2.3      2   0     1
191   58    1   0       128   216  ...      1      2.2      1   3     3
46    44    1   2       140   235  ...      0      0.0      2   0     2

[242 rows x 13 columns]

In [10]:
y_train

262    0
125    1
126    1
120    1
116    1
      ..
271    0
29     1
150    1
191    0
46     1
Name: target, Length: 242, dtype: int64

In [35]:
x_test

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
122   41    0   2       112   268  ...      1      0.0      2   0     2
173   58    1   2       132   224  ...      0      3.2      2   2     3
170   56    1   2       130   256  ...      1      0.6      1   1     1
258   62    0   0       150   244  ...      1      1.4      1   0     2
10    54    1   0       140   239  ...      0      1.2      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
209   59    1   0       140   177  ...      1      0.0      2   1     3
66    51    1   2       100   222  ...      1      1.2      1   0     2
11    48    0   2       130   275  ...      0      0.2      2   0     2
297   59    1   0       164   176  ...      0      1.0      1   2     1
27    51    1   2       110   175  ...      0      0.6      2   0     2

[61 rows x 13 columns]

In [13]:
y_test

122    1
173    0
170    0
258    0
10     1
      ..
209    0
66     1
11     1
297    0
27     1
Name: target, Length: 61, dtype: int64

## Preparando os dados para serem usados
Normalização das colunas

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
scaler = MinMaxScaler()

In [36]:
train = x_train.iloc[:,:].values.astype(float)

In [37]:
test = x_test.iloc[:,:].values.astype(float)

In [38]:
train_scaled = scaler.fit_transform(train)
test_scaled = scaler.fit_transform(test)

In [39]:
x_train_normalized = pd.DataFrame(train_scaled,columns=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang', 'oldpeak', 'slope', 'ca', 'thal'])
x_test_normalized = pd.DataFrame(test_scaled,columns=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang', 'oldpeak', 'slope', 'ca', 'thal'])

In [40]:
x_train_normalized

          age  sex        cp  trestbps  ...   oldpeak  slope    ca      thal
0    0.500000  1.0  0.000000  0.273585  ...  0.322581    0.5  0.50  1.000000
1    0.104167  0.0  0.333333  0.226415  ...  0.112903    1.0  0.00  0.666667
2    0.375000  1.0  0.000000  0.169811  ...  0.016129    1.0  0.00  0.666667
3    0.729167  0.0  0.000000  0.339623  ...  0.322581    0.5  0.50  0.666667
4    0.250000  1.0  0.666667  0.339623  ...  0.322581    0.5  0.00  0.666667
..        ...  ...       ...       ...  ...       ...    ...   ...       ...
237  0.666667  1.0  1.000000  0.377358  ...  0.419355    0.5  0.50  0.666667
238  0.500000  1.0  0.666667  0.339623  ...  0.193548    0.0  0.00  0.666667
239  0.770833  1.0  0.000000  0.622642  ...  0.370968    1.0  0.00  0.333333
240  0.604167  1.0  0.000000  0.320755  ...  0.354839    0.5  0.75  1.000000
241  0.312500  1.0  0.666667  0.433962  ...  0.000000    1.0  0.00  0.666667

[242 rows x 13 columns]

In [41]:
x_test_normalized

         age  sex        cp  trestbps  ...   oldpeak  slope    ca      thal
0   0.181818  0.0  0.666667  0.209302  ...  0.000000    1.0  0.00  0.666667
1   0.696970  1.0  0.666667  0.441860  ...  0.571429    1.0  0.50  1.000000
2   0.636364  1.0  0.666667  0.418605  ...  0.107143    0.5  0.25  0.333333
3   0.818182  0.0  0.000000  0.651163  ...  0.250000    0.5  0.00  0.666667
4   0.575758  1.0  0.000000  0.534884  ...  0.214286    1.0  0.00  0.666667
..       ...  ...       ...       ...  ...       ...    ...   ...       ...
56  0.727273  1.0  0.000000  0.534884  ...  0.000000    1.0  0.25  1.000000
57  0.484848  1.0  0.666667  0.069767  ...  0.214286    0.5  0.00  0.666667
58  0.393939  0.0  0.666667  0.418605  ...  0.035714    1.0  0.00  0.666667
59  0.727273  1.0  0.000000  0.813953  ...  0.178571    0.5  0.50  0.333333
60  0.484848  1.0  0.666667  0.186047  ...  0.107143    1.0  0.00  0.666667

[61 rows x 13 columns]

## Criando o modelo

In [195]:
model1 = Sequential()

In [196]:
model1.add(Dense(30, activation='relu', input_shape=(13,)))
model1.add(Dropout(0.75))
model1.add(Dense(1, activation='sigmoid'))

In [197]:
model1.compile(loss='binary_crossentropy',optimizer=Adam(learning_rate = 0.01),
               metrics=['accuracy'])

## Treinando o modelo
Usou-se batch gradient descent junto com early stopping

In [198]:
batch_size = 242
epochs = 100
history = model1.fit(
    x_train_normalized, y_train,
    batch_size=batch_size,
    epochs=epochs,
    verbose=1,
    validation_data=(x_test_normalized, y_test),
    shuffle = True,
    callbacks=[keras.callbacks.EarlyStopping(monitor='val_accuracy',patience=20,min_delta=0.01)])

Train on 242 samples, validate on 61 samples
Epoch 1/100
242/242 [==============================] - 1s 3ms/step - loss: 0.7742 - accuracy: 0.4463 - val_loss: 0.7421 - val_accuracy: 0.3279
Epoch 2/100
242/242 [==============================] - 0s 32us/step - loss: 0.7252 - accuracy: 0.5165 - val_loss: 0.7227 - val_accuracy: 0.4098
Epoch 3/100
242/242 [==============================] - 0s 61us/step - loss: 0.6859 - accuracy: 0.5620 - val_loss: 0.7039 - val_accuracy: 0.5082
Epoch 4/100
242/242 [==============================] - 0s 45us/step - loss: 0.6976 - accuracy: 0.5455 - val_loss: 0.6867 - val_accuracy: 0.5902
Epoch 5/100
242/242 [==============================] - 0s 60us/step - loss: 0.6506 - accuracy: 0.5744 - val_loss: 0.6707 - val_accuracy: 0.6230
Epoch 6/100
242/242 [==============================] - 0s 45us/step - loss: 0.6672 - accuracy: 0.6157 - val_loss: 0.6563 - val_accuracy: 0.6721
Epoch 7/100
242/242 [==============================] - 0s 61us/step - loss: 0.6364 - accuracy: 0.6777 - val_loss: 0.6434 - val_accuracy: 0.6885
Epoch 8/100
242/242 [==============================] - 0s 59us/step - loss: 0.6347 - accuracy: 0.6364 - val_loss: 0.6318 - val_accuracy: 0.7377
Epoch 9/100
242/242 [==============================] - 0s 34us/step - loss: 0.6135 - accuracy: 0.6653 - val_loss: 0.6208 - val_accuracy: 0.7541
Epoch 10/100
242/242 [==============================] - 0s 60us/step - loss: 0.6046 - accuracy: 0.7025 - val_loss: 0.6104 - val_accuracy: 0.7541
Epoch 11/100
242/242 [==============================] - 0s 64us/step - loss: 0.6016 - accuracy: 0.7149 - val_loss: 0.6006 - val_accuracy: 0.7705
Epoch 12/100
242/242 [==============================] - 0s 59us/step - loss: 0.6053 - accuracy: 0.7149 - val_loss: 0.5912 - val_accuracy: 0.7869
Epoch 13/100
242/242 [==============================] - 0s 41us/step - loss: 0.6034 - accuracy: 0.6694 - val_loss: 0.5821 - val_accuracy: 0.8033
Epoch 14/100
242/242 [==============================] - 0s 30us/step - loss: 0.5768 - accuracy: 0.7397 - val_loss: 0.5722 - val_accuracy: 0.8033
Epoch 15/100
242/242 [==============================] - 0s 60us/step - loss: 0.5530 - accuracy: 0.7521 - val_loss: 0.5621 - val_accuracy: 0.8033
Epoch 16/100
242/242 [==============================] - 0s 58us/step - loss: 0.5838 - accuracy: 0.6901 - val_loss: 0.5520 - val_accuracy: 0.8033
Epoch 17/100
242/242 [==============================] - 0s 64us/step - loss: 0.5607 - accuracy: 0.7190 - val_loss: 0.5423 - val_accuracy: 0.8033
Epoch 18/100
242/242 [==============================] - 0s 48us/step - loss: 0.5667 - accuracy: 0.7107 - val_loss: 0.5335 - val_accuracy: 0.8033
Epoch 19/100
242/242 [==============================] - 0s 56us/step - loss: 0.5676 - accuracy: 0.7231 - val_loss: 0.5258 - val_accuracy: 0.8033
Epoch 20/100
242/242 [==============================] - 0s 49us/step - loss: 0.5538 - accuracy: 0.6942 - val_loss: 0.5187 - val_accuracy: 0.8033
Epoch 21/100
242/242 [==============================] - 0s 31us/step - loss: 0.5572 - accuracy: 0.7107 - val_loss: 0.5122 - val_accuracy: 0.8033
Epoch 22/100
242/242 [==============================] - 0s 32us/step - loss: 0.5719 - accuracy: 0.6983 - val_loss: 0.5062 - val_accuracy: 0.8197
Epoch 23/100
242/242 [==============================] - 0s 51us/step - loss: 0.5418 - accuracy: 0.7025 - val_loss: 0.5000 - val_accuracy: 0.8197
Epoch 24/100
242/242 [==============================] - 0s 31us/step - loss: 0.5148 - accuracy: 0.7603 - val_loss: 0.4938 - val_accuracy: 0.8197
Epoch 25/100
242/242 [==============================] - 0s 60us/step - loss: 0.5286 - accuracy: 0.7562 - val_loss: 0.4879 - val_accuracy: 0.8197
Epoch 26/100
242/242 [==============================] - 0s 64us/step - loss: 0.5110 - accuracy: 0.7562 - val_loss: 0.4831 - val_accuracy: 0.8197
Epoch 27/100
242/242 [==============================] - 0s 64us/step - loss: 0.5002 - accuracy: 0.7562 - val_loss: 0.4784 - val_accuracy: 0.8197
Epoch 28/100
242/242 [==============================] - 0s 34us/step - loss: 0.4975 - accuracy: 0.7727 - val_loss: 0.4734 - val_accuracy: 0.8197
Epoch 29/100
242/242 [==============================] - 0s 47us/step - loss: 0.4882 - accuracy: 0.7727 - val_loss: 0.4682 - val_accuracy: 0.8197
Epoch 30/100
242/242 [==============================] - 0s 48us/step - loss: 0.4786 - accuracy: 0.7934 - val_loss: 0.4628 - val_accuracy: 0.8197
Epoch 31/100
242/242 [==============================] - 0s 51us/step - loss: 0.4749 - accuracy: 0.7893 - val_loss: 0.4580 - val_accuracy: 0.8197
Epoch 32/100
242/242 [==============================] - 0s 29us/step - loss: 0.4835 - accuracy: 0.7521 - val_loss: 0.4529 - val_accuracy: 0.8197
Epoch 33/100
242/242 [==============================] - 0s 37us/step - loss: 0.4869 - accuracy: 0.7851 - val_loss: 0.4483 - val_accuracy: 0.8197
Epoch 34/100
242/242 [==============================] - 0s 65us/step - loss: 0.5193 - accuracy: 0.7686 - val_loss: 0.4449 - val_accuracy: 0.8197
Epoch 35/100
242/242 [==============================] - 0s 51us/step - loss: 0.5084 - accuracy: 0.7975 - val_loss: 0.4420 - val_accuracy: 0.8197
Epoch 36/100
242/242 [==============================] - 0s 53us/step - loss: 0.4894 - accuracy: 0.7479 - val_loss: 0.4402 - val_accuracy: 0.8197
Epoch 37/100
242/242 [==============================] - 0s 31us/step - loss: 0.4977 - accuracy: 0.7645 - val_loss: 0.4387 - val_accuracy: 0.8197
Epoch 38/100
242/242 [==============================] - 0s 36us/step - loss: 0.4876 - accuracy: 0.7727 - val_loss: 0.4374 - val_accuracy: 0.8197
Epoch 39/100
242/242 [==============================] - 0s 34us/step - loss: 0.4277 - accuracy: 0.8182 - val_loss: 0.4358 - val_accuracy: 0.8197
Epoch 40/100
242/242 [==============================] - 0s 44us/step - loss: 0.4716 - accuracy: 0.7603 - val_loss: 0.4347 - val_accuracy: 0.8197
Epoch 41/100
242/242 [==============================] - 0s 34us/step - loss: 0.4690 - accuracy: 0.7603 - val_loss: 0.4335 - val_accuracy: 0.8197
Epoch 42/100
242/242 [==============================] - 0s 66us/step - loss: 0.4771 - accuracy: 0.7727 - val_loss: 0.4324 - val_accuracy: 0.8197

In [199]:
score = model1.evaluate(x_test_normalized,y_test)

61/61 [==============================] - 0s 130us/step